.homeContent {
    background-color: rgba($color: #000000, $alpha: 0.8);
    border-radius: 20px;
    width: 700px;
    height: 400px;
    margin-top: 35vh;
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
}

.homeContent h2 {
    padding-top: 20px;
    margin-bottom: 40px;
    font-size: 35px;
    text-align: center;
}

.homeContent a{
    justify-content: center;
    text-decoration: none;
    font-size: 30px;
    color: white;
}