body {
    background-image: url(../../layout/login_background.jpg);
    background-size: cover;
}

.loginPage {
    background-color: rgba($color: #000000, $alpha: 0.8);
    width: 700px;
    height: 400px;
    margin-top: 35vh;
    margin-left: auto;
    margin-right: auto;
}


// I am trying to design the login page but the file won't update when I refresh