#movieList {
    background-image: none;
    text-decoration: none;
}

// I am trying to center the list of the movies, it won't let me for some reason and I don't have enough time to figure it out

.movie-item {
    color: black;
    margin-left: auto;
    margin-right: auto;
}

.movie-item img{
    width: 30%;
}